*{
  margin: 0;
  padding: 0;
}

.nav {
  margin-bottom: 100px;
}

.nav-link {
  margin-left: 1rem;
  margin-top: 10px;
}

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .15);
}

.navbar-brand {
  /* margin-left: 5px; */
  padding-right: 350px;
  font-size: 1.75rem;
  letter-spacing: 3px;
}

.cv-btn {
  align-items: center;
  text-align: center;
  border: solid 2px;
  border-color: #d36969ce;
  border-radius: 30px;
  padding-left: 15px;
  padding-right: 13.5px;
  padding-bottom: 3px;
  color: black;
  background-color: #ffffff1c;
}

.profile-container {
  margin-top: 120px;
  max-width: 80%;
  margin-left: 10%;
  height: 400px;
  background-color: #d6b9a5;
  margin-bottom: 60px;
  text-align: center;
}
.profile-container h1{
  padding-top: 30px;
  margin-bottom: 30px;
}
.img-div, .content-div {
  height: 100px;
}
.img-div {
  width: 50%;
}
.content-div {
  background-color: #cbbcb1;
  width: 50%;
  text-align: center;
}

.footer-div {
  background-color: rgba(0, 0, 0, 0.038);
  /* color: #fff; */
  /* background-color: #5e9693; */
  /* color: #d6b9a5; */
  color: rgb(105, 104, 104);
  width: 100%;
  height: 30vh;
  align-content: center;
  text-align: center;
}
.footer-div h5{
  padding-top: 30px;
}
.footer-div a{
  margin-top: 30px;
  font-size: 1.75rem;
  padding-left: 20px;
}